* {     
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}

h1, h2, h3, h4, h5 {
    font-family: "Roboto";
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    color: #1B1F21
}
p {
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100
}

body {
    display: flex;
}
/*CHAT PROFILES*/
aside {
    flex-direction: column;
    width: 20%;
    
}

header {
    display: flex;
    width: 100%;
    padding: 10px;
    padding-inline: 10px;
    text-align: start;
    justify-content: space-between;
    border: 1px solid #e8ebe4;
    color: #828485;    
}
.profile {
    padding-left: 20px;
    display: flex;
    gap: 10px;
}
header h5 {
    font-weight: 500;
    font-size: 14px;    
    }
header p {
    font-size: 10px;
    }
header .profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;    
}
.icons {
    gap: 10px;
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.button-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e8ebe4;
    padding: 2.5em;
}
button{
    padding: 5px;
    font-size: 16px;
    background-color: #a391d2;
    color: #fff;
    width: 80%;
    padding: 15px;
    border: none;
}
button:hover {
    background-color: #cdc3e6;
    cursor: pointer;
}
button:focus {
    background-color: #bec1bb;
}

.cntc-profile {
    
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    border: 1px solid #e8ebe4;
    
}
.avatar img{
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin-inline: 20px;
}
/* MAIN BODY*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
    width: 80%;
    padding-inline: 20%;
    font-size: 16px;
    text-align: center;
}
main img {
    width: 280px;
    height: auto;
    margin-bottom: 20px;
}
main h1, main h2, main h3, main h4, main h5 {
    font-size: 45px;
    color: #1B1F21;
}
main p {
    padding-inline: 10px;
    color: #1B1F21;
}